@model Final8Net.Models.CommentViewModel
@{
    ViewData["Title"] = "Java";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Java Programming for Complete Beginners</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        <div class="drop-content">
            <ul>
                <li>
                    <a href="https://cse110textbook.s3-us-west-1.amazonaws.com/Java+Concepts+3rd+3E+Cay+Horstmann.pdf" target="_blank">Java Concepts Book</a>
                </li>
            </ul>
        </div>
    </div>
     <form asp-action="CreateComment" method="post">
    <input type="hidden" name="userName" value="@User.Identity.Name" />
    <div>
        <label for="content" style="font-size: 30px; margin-right: 30px; margin-left: -30px;">Comment:</label>
        <textarea id="content" name="content" style="height: 175px; width: 788px; margin-top: 100px; font-size: 20px; box-shadow: 0px 0px 10px 2px #9089c5;"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>

    @foreach (var comment in Model.Comments)
    {
        <div>
        <strong>@comment.UserName</strong> (@comment.CreatedAt):
        <p>@comment.Content</p>
    </div>
    }
</body>