/* _content/Final8Net/Views/Shared/_Layout.cshtml.rz.scp.css */
/* This will remove the default list styling and set the nav to be full width */
nav ul[b-av30l2ogiu] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* This will display the list items side by side */
nav li[b-av30l2ogiu] {
    display: inline-block;
    margin-right: 20px; /* Adjust the space between the links */
}

/* This will ensure the nav is not inline with the body content */
body[b-av30l2ogiu] {
    margin-top: 50px; /* Adjust the space to ensure the nav is separate */
    width: 200px;
    height: 60px;
    margin-left: 20px;
}
.footer[b-av30l2ogiu] {
    height:30%;
}


/* _content/Final8Net/Views/Shared/_LayoutIndex.cshtml.rz.scp.css */
/* This will remove the default list styling and set the nav to be full width */
nav ul[b-p1px0mzt5a] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 25px;
}

/* This will display the list items side by side */
nav li[b-p1px0mzt5a] {
    display: inline-block;
    margin-right: 20px; /* Adjust the space between the links */
}

/* This will ensure the nav is not inline with the body content */
body[b-p1px0mzt5a] {
    margin-top: 30px; /* Adjust the space to ensure the nav is separate */
    width: 200px;
    height: 60px;
    margin-left: 20px;
}
footer[b-p1px0mzt5a] {
    height: 30%;
}
