@{
    ViewData["Title"] = "C and C++";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Coding for Everyone: C and C++</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction to C++ <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Control Structures in C++ <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Functions <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Classes in C++ <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Arrays in C++ <img src="~/img/pngwing.com.png" class="arrow" /> </h2>      
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Libraries <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <a asp-controller="SignCourse" asp-action="CPlusPlus" class="custom-btn" id="cont">Get Started</a>
</body>