@{
    ViewData["Title"] = "Data Structures";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    @* modules *@
    <h1>Data Structures and Algorithms</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Arrays <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Linked Lists <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Stack & Queue <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: Searching Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Sorting Algorithms <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">Module 7: Tree Data Structure <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
    </div>
    <a asp-controller="SignCourse" asp-action="DataStruct" class="custom-btn" id="cont">Get Started</a>
</body>