@{
    ViewData["Title"] = "Web Design";
    Layout = "_LayoutIndex";
}
<link href="~/css/course.css" rel="stylesheet">
<script src="~/js/site.js"></script>
<body>
    
    <h1>Web Design and Development</h1>
    <h2>Course Content</h2>
    <div class="title-module">
        <h2 class="title">Module 1: Introduction <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        
    </div>
    <div class="title-module">
        <h2 class="title">Module 2: Attributes  <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        
    </div>
    <div class="title-module">
        <h2 class="title">Module 3: Styles - CSS <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
       
    </div>
    <div class="title-module">
        <h2 class="title">Module 4: Selectors - CSS <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        
    </div>
    <div class="title-module">
        <h2 class="title">Module 5: JavaScript  <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        
    </div>
    <div class="title-module">
        <h2 class="title">Module 6: Bootstrap 4 <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        
    </div>
    <div class="title-module">
        <h2 class="title">References <img src="~/img/pngwing.com.png" class="arrow" /> </h2>
        
    </div>
    <a asp-controller="SignCourse" asp-action="WebDesign" class="custom-btn" id="cont">Get Started</a>
</body>